<a href="https://colab.research.google.com/github/Tparfaite/data-analysis-with-python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
b=5
solution=0
if a==b:
  solution=a-b
  print(solution)
else:
  solution=a+b
  print(solution)

0

**Python Assignment#1 Educonnect**


  Q1. Integer methods

In [ ]:
x = 12345
x_str = str(x)
x_str_len = len(x_str)
x_str_to_int = int(x_str)
print(x_str)
print(x_str_len)
print(x_str_to_int)

12345
5
12345

Q2. List methods

In [ ]:
numbers = [10,20,30,40,50]
numbers.append(60)
numbers.pop(0)
numbers.sort(reverse=True)
print(numbers)

[20, 30, 40, 50, 60]

In [ ]:
# Function to display integers below the given number down to 0
def display_integers_below(n):
    if n >= 0:
        for i in range(n, -1, -1):
            print(i)
    else:
        print("Please enter a positive integer.")

# Input from the user
number = int(input("Enter a number: "))
display_integers_below(number)

Enter a number: 7
7
6
5
4
3
2
1
0

In [ ]:
b=int(input("Enter number a: "))
print(b)

Enter number a: 8
8

In [ ]:
import random

print(random.randrange(2,10))

text="Data science is important"
if "data" in text.lower():
  print("Text contains the word 'data' ")
else:
  print("Text doesn't contain the word 'data' ")

date = int(input("Enter the date: "))
month = int(input("Enter the month: "))
year = int(input("Enter year: "))
delivery_date = date + 7



if month < 4:
  if delivery_date > 30:
    delivery_date = delivery_date - 30
    delivery_month = month + 10
    delivery_year = year
  else:
    delivery_month = month + 10
    delivery_year = year
else:
  if delivery_date > 30:
    delivery_date = delivery_date - 30
    delivery_month = month - 2
    delivery_year = year + 1
  else:
    delivery_month = month -3
    delivery_year = year + 1


print("Your EDD is", delivery_date, delivery_month, delivery_year)

4
Text contains the word 'data'

In [ ]:
x=12345
x_str = str(x)
print(type(x))

<class 'int'>

In [ ]:
numbers = [10,20,30,40,50]
numbers.append(60)
numbers.remove(20)
numbers.pop(0)
reversed_numbers=numbers.sort()
print(numbers)
print(reversed_numbers)

[30, 40, 50, 60]
None

In [ ]:
data=[1,3,5,6]
print(data.index(3))


my_bio = {
    "name":"parfaite",
    "email":"pacha@gmail.com",
    "phone":"0990",
    "country":"Rwanda"
}
my_bio.update({"cell":"susa"})
print(my_bio)
type(my_bio)

1
{'name': 'parfaite', 'email': 'pacha@gmail.com', 'phone': '0990', 'country': 'Rwanda', 'cell': 'susa'}

dict

**PANDAS**

In [24]:
import pandas as pd
sales = [100,20,20,390,47,56,6]
data_nan = [1,2,None,5,7,8]
data_with_nan = pd.Series(data_nan)
print(data_with_nan.isnull())
filled_data=data_with_nan.fillna(data_with_nan.mean())
print("filled data \n",filled_data)
data = pd.Series(sales)
# print("mean ",data.mean())
# print("mode ",data.mode())
# print("count ",data.count())
# print("descriptive ",data.describe())

0    False
1    False
2     True
3    False
4    False
5    False
dtype: bool
filled data
 0    1.0
1    2.0
2    4.6
3    5.0
4    7.0
5    8.0
dtype: float64

Dataframe

In [28]:
import pandas as pd
my_clients = {
    "names":['hirwa','ganza','aime','keza'],
    "age":[21,32,22,30],
    "favorite":['isabune','gas','amakara','dodo'],
    "location":["kagarama",'niboye','nyanza','gatenga'],
    "transport":['amaguru','moto','igare','amaguru'],


}
my_dataframe = pd.DataFrame(my_clients)
print(my_dataframe)

my_dataframe.describe()

   names  age favorite  location transport
0  hirwa   21  isabune  kagarama   amaguru
1  ganza   32      gas    niboye      moto
2   aime   22  amakara    nyanza     igare
3   keza   30     dodo   gatenga   amaguru

             age
count   4.000000
mean   26.250000
std     5.560276
min    21.000000
25%    21.750000
50%    26.000000
75%    30.500000
max    32.000000

In [18]:
import pandas as pd
nyc_data = pd.read_csv("/content/nyc-rolling-sales.csv")

nyc_data  #reading all data
nyc_data.columns  #reading only columns
nyc_first = nyc_data.head()    #first 5 data by default
# print(nyc_first)
nyc_last = nyc_data.tail()     #last 5 data by default
nyc_last = nyc_data.sample()   #random sample
nyc_info = nyc_data.info()
print("mmm",nyc_info)
print(nyc_last)
null = nyc_data.isnull().tail(1)
print(null)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  int64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  object
 21  SALE DATE                       84548 non-null  object
dtypes: int64(10), object(12)
memory usage: 14.2+ MB
mmm None
       Unnamed: 0  BOROUGH NEIGHBORHOOD  \
64678       15280        4      JAMAICA

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
64678  07 RENTALS - WALKUP APARTMENTS                                 2

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                 ADDRESS  \
64678   9702   76                                  C1  146-01 HILLSIDE AVENUE

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
64678  ...                16                 0           16              4000

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
64678              14280       1931                         2

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
64678                              C1     3000000  2016-10-20 00:00:00

[1 rows x 22 columns]
       Unnamed: 0  BOROUGH  NEIGHBORHOOD  BUILDING CLASS CATEGORY  \
84547       False    False         False                    False

       TAX CLASS AT PRESENT  BLOCK    LOT  EASE-MENT  \
84547                 False  False  False      False

       BUILDING CLASS AT PRESENT  ADDRESS  ...  RESIDENTIAL UNITS  \
84547                      False    False  ...              False

       COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  \
84547             False        False             False              False

       YEAR BUILT  TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE  \
84547       False                      False                           False

       SALE PRICE  SALE DATE
84547       False      False

[1 rows x 22 columns]

**DATA CLEANING WITH PANDAS**

Handling missing values

In [2]:
import pandas as pd
data = {
    "user_id":[101,102,103,104,105],
    "phone_usage_hrs":[4.5,None,5.5,5.5,None],
    "prod_score":[85,60,None,75,50],

}
data_frame=pd.DataFrame(data)
print(data_frame)
data_frame.columns ##checking columns
data_frame.info() ##checking info
data_frame.isna()
data_frame.isnull().sum()

# Handling missing values : Data cleaning
# USING Dropna()
data_frame_cleaned = data_frame.dropna()
print("cleaned data \n",data_frame_cleaned)

# Using fillna()
data_frame_fillna = data_frame.fillna(data_frame.mean())
print("cleaning \n",data_frame_fillna)

# Checking duplicates
checkDup_data_frame = data_frame['phone_usage_hrs'].unique()
print(checkDup_data_frame)

# Droping duplicate
data_frame_dup = data_frame.drop_duplicates()
print(data_frame_dup)

# Selecting, filtering data, replacing values, rename column, drop column,changing data types
# SELECTING
phone_usage = data_frame['phone_usage_hrs']
print(phone_usage)

# SELECTING multiple columns
phone_usages = data_frame[['user_id','phone_usage_hrs']]

# selecting rows by index position
first_row = data_frame.iloc[0]
print(first_row)

# filtering
phone_usage_5hrs = data_frame[data_frame['phone_usage_hrs'] > 5]
print(phone_usage_5hrs)

# filtering with more than 1 conditions
# phone_use = data_frame[([data_frame['phone_usage_hrs'] > 5]) & ([data_frame['prod_score'] > 50])]
# print(phone_use)

   user_id  phone_usage_hrs  prod_score
0      101              4.5        85.0
1      102              NaN        60.0
2      103              5.5         NaN
3      104              5.5        75.0
4      105              NaN        50.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          5 non-null      int64
 1   phone_usage_hrs  3 non-null      float64
 2   prod_score       4 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 248.0 bytes
cleaned data
    user_id  phone_usage_hrs  prod_score
0      101              4.5        85.0
3      104              5.5        75.0
cleaning
    user_id  phone_usage_hrs  prod_score
0      101         4.500000        85.0
1      102         5.166667        60.0
2      103         5.500000        67.5
3      104         5.500000        75.0
4      105         5.166667        50.0
[4.5 nan 5.5]
   user_id  phone_usage_hrs  prod_score
0      101              4.5        85.0
1      102              NaN        60.0
2      103              5.5         NaN
3      104              5.5        75.0
4      105              NaN        50.0
0    4.5
1    NaN
2    5.5
3    5.5
4    NaN
Name: phone_usage_hrs, dtype: float64
user_id            101.0
phone_usage_hrs      4.5
prod_score          85.0
Name: 0, dtype: float64
   user_id  phone_usage_hrs  prod_score
2      103              5.5         NaN
3      104              5.5        75.0

Data Manipulation

KeyError: 'phone_usage-hrs'